{
 "singleQuote": false,
 "bracketSpacing": true,
 "printWidth": 100,
 "trailingComma": "all",
 "arrowParens": "avoid",
 "tabWidth": 2,
 "semi": true,
 "useTabs": false,
 "jsxBracketSameLine": true,
 "htmlWhitespaceSensitivity": "css",
 "endOfLine": "lf"
}
